  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1 id="titleNav">News Scraper</h1>
      </div>
      <div class= "navbar-collapse collapse" id="navbar-list">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/" class="btn btn-primary btn-lg btn-rounded" role="button" id= "navButtons">Home</a></li>
          <li><a href="/saved" class="btn btn-primary btn-lg btn-rounded" role="button" id= "navButtons">Saved Articles</a></li>
          <li>
            {{> articles/scraped-articles }}
          </li>
        </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class= "col-xs-12">
        <h1 class="animated fadeInRightBig">New York Times</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{#each articles}}
          {{#unless this.saved}}
            <div class="Articles">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><a href="{{ this.link }}" target='_blank'>{{ this.title }}</a></h3>
                  {{> articles/saveAnArticle }}
                  {{> articles/delete-articles }}
                </div>
                <div class="panel-body">
                  {{ this.summary }}
                </div>
              </div>
            </div>
          {{/unless}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" id="footer">
      <h4 id="line">© 2017 Nick Ciccarino</h4>
    </div>
  </div>

