<head>
  <style>

    #titleNav {
      color: white;
    }
      
  </style> 
</head>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1 id="titleNav">News Scraper</h1>
      </div>
      <div class= "navbar-collapse collapse" id="navbar-list">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/" class="btn btn-primary btn-lg btn-rounded" role="button" id= "navButtons">Home</a></li>
          <li><a href="/saved" class="btn btn-primary btn-lg btn-rounded" role="button" id= "navButtons">Saved Articles</a></li>
        </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class= "col-xs-12">
        <h1 class="animated fadeInRightBig">Saved Articles</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul>
          {{#each articles}}
            {{#if this.saved}}
              <div class="Articles">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><a href="{{ this.link }}" target='_blank'>{{ this.title }}</a></h3>
                    {{!-- <a href="{{> articles/update-comment }}" class="btn btn-primary btn-lg btn-rounded" role="button" id= "navButtons">Article Comments</a> --}}
                    {{> articles/unsave-articles }}
                    {{> articles/delete-articles }}
                  </div>
                  <div class="panel-body">
                    {{ this.summary }}
                  </div>
                </div>
              </div>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" id="footer">
      <h4 id="line">© 2017 Nick Ciccarino</h4>
    </div>
  </div>