<form action="/articles/remove/{{this.id}}" method="GET">
  <button id = "deleteButton" class="btn btn-primary btn-md btn-rounded" type="submit"><i class = "glyphicon glyphicon-trash"></i> Delete</button>
</form>