<form action="/articles/save/{{this.id}}" method="POST">
  <button id = "saveButton" type="submit" class="btn btn-primary btn-md btn-rounded"><i class = "glyphicon glyphicon-floppy-disk"></i> Save Article</button>
</form>