<form action="/articles/removeSave/{{this.id}}" method="POST">
  <button id = "saveButton" type="submit" class="btn btn-primary btn-md btn-rounded"><i class = "glyphicon glyphicon-floppy-remove"></i> Remove Article</button>
</form>