<div class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Notes for Article {{this.id}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/articles/{{this.id}}" method="POST">
					<div class="form-group">
						<label for="modalComments">Comments: </label>
          	<input type="text" id="modalComments" name="comment">
  					<button id = "saveButton" type="submit" class="btn btn-primary btn-lg btn-rounded">Submit</button>
  				</div>
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>